body{
  overflow:hidden;
  margin:0;
  padding:0;
}

#list {
  -webkit-app-region: drag;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  padding-top:35px;
}

#tab-content{
  position:absolute;
}
.container-fluid{
  padding-left:0;
  padding-right:0;
}

.container-fluid.well{
  padding-left:15px;
  padding-right:15px;
  right:0;
  left:0;
}
.tab-pane h4{
  position:absolute;
  top:-77px;
  color:#337ab7;
  left:0;
  right:0;
  text-align:center;
  opacity:0.5;
}
input,select,button{
  
  -webkit-app-region: no-drag;
}
#inputNameRefresh{
  right:10px;
  pointer-events:auto;
}
#inputName{
  padding-right:35px;
}